main {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    max-width: 600px;
}

.main__buttons {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main__buttons button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition: background-color 0.2s;
}

.main__buttons button span {
    font-weight: 600;
    font-size: 1rem;
}

.main__buttons button:hover {
    background-color: rgba(154, 154, 154, 0.1);
}

#main__buttons--foryou {
    position: relative;
}

#main__buttons--foryou::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    background-color: rgb(0, 145, 255);
}

#main__buttons--following span{
    color: #7d7d7d;
}

.main__header {
    padding: 1rem;
    display: none;
}

.main__header span {
    font-weight: 700;
    font-size: 1.1rem;
}

.main__create-post {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1rem;
}

.main__create-post--form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.2rem;
}

#msg {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    outline: none;
    resize: none;
    line-height: 1.5;
    height: auto;
    overflow-wrap: break-word;
    word-break: break-word;
}

.main__create-post--form-menu {
    display: flex;
    justify-content: space-between;
}

.user__image {
    display: flex;
    max-width: 40px;
}

.user__image img {
    width: 100%;
    border-radius: 2rem;
}

.create-post-menu-btn {
    display: flex;
    gap: 0.3rem;
}

.create-post-menu-btn button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.3rem;
    transition: background-color 0.2s;
    border-radius: 2rem;
}

.create-post-menu-btn button:hover {
    background-color: rgba(0, 145, 255, 0.2);;
}

.create-post-menu-btn button i{
    color: rgb(0, 145, 255);
    font-size: 1rem;
}

#location-btn {
    opacity: 50%;
    pointer-events: none;
}

.user__image a {
    transition: opacity 0.2s;
}

.user__image a:hover {
    opacity: 75%;
}

#submit-post {
    border: none;
    background-color: transparent;
    color: #000;
    background-color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 2rem;
    padding: 0.5rem 0rem;
    width: 100%;
    max-width: 75px;
    pointer-events: none;
    opacity: 50%;
}

.main__posts--post {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background-color 0.2s;
    cursor: pointer;
}

.main__posts--post:hover {
    background-color: rgba(154, 154, 154, 0.1);
}

.post__user-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    align-items: center;
}

.post__user-data-name {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.username_and_date {
    display: flex;
    gap: 0.2rem;
}

.post__user-image {
    max-width: 40px;
}

.post__user-data-name > p {
    font-weight: 600;
    cursor: pointer;
    font-size: 1.1rem;
}

.post__user-data-name > p:hover {
    text-decoration: underline;
}

.username_and_date p{
    color: #7d7d7d;
}

.post__user-data button {
    color: #7d7d7d;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0.2rem;
    border-radius: 2rem;
    transition: background-color 0.2s;
}

.post__user-data button i {
    transition: color 0.2s;
}

.post__user-data button:hover{
    background-color: rgba(0, 145, 255, 0.1);
}

.post__user-data button:hover i{
    color: rgb(0, 145, 255);
}

#post_date {
    cursor: pointer;
}

#post_date:hover {
    text-decoration: underline;
}

.post__user-image img {
    width: 100%;
    border-radius: 2rem;
    transition: opacity 0.2s;
    cursor: pointer;
}

.post__user-image img:hover {
    opacity: 75%;
}

.post__content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.post__image {
    margin-top: 0.5rem;
    max-width: 500px;
}

.post__image img {
    width: 100%;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);;
}

.post__text {
    font-size: 1rem;
    margin-top: 0.3rem;
}

.post__buttons {
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-between;
}

.post__buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 0.1em;
    transition: background-color 0.2s, color 0.2s;
    color: #7d7d7d;
    font-weight: 600;
    align-items: center;
    font-size: 0.7rem;
}

.post__buttons button i {
    transition: color 0.2s;
    color: #7d7d7d;
    font-size: 1rem;
    padding: 0.2rem;
    border-radius: 2rem;
    transition: background-color 0.2s, color 0.2s;
}

.post__buttons button:hover i{
    color: rgb(0, 145, 255);
    background-color: rgba(0, 145, 255, 0.1);
}

.post__buttons button:hover {
    color: rgb(0, 145, 255);
}

.post__buttons button:nth-child(2):hover i{
    color: rgb(0, 153, 18);
    background-color: rgba(0, 145, 255, 0.1);
}

.post__buttons button:nth-child(2):hover {
    color: rgb(0, 153, 18);
}

.post__buttons button:nth-child(3):hover i{
    color: rgb(255, 0, 170);
    background-color: rgba(255, 0, 170, 0.1);
}

.post__buttons button:nth-child(3):hover {
    color: rgb(255, 0, 170);
}

.post__buttons-save {
    display: flex;
    gap: 0.5rem;
}

.post__buttons-save button:nth-child(2):hover i {
    color: rgb(0, 145, 255);
    background-color: rgba(0, 145, 255, 0.1);
}

.post__buttons-save button:nth-child(2):hover {
    color: rgb(0, 145, 255);
}

.main__posts .main__posts--post:last-of-type {
    border-bottom: none;
}

@media (max-width: 768px) {
    .main__header {
        display: block;
    }
    .post__buttons-save button:nth-child(1) {
        display: none;
    }
}